// Colors
$color-yellow: #fcb72b;
$color-dark-navy: #495567;
$color-dim-gray: #939caa;
$color-light-gray: #e5ecf4;
$color-snow: #f2f5f9;
$color-light-yellow: #fff4df;
$color-white: #fff;
$color-footer: #333a44;

// Typography
$site-font: "Lexend Deca", "Arial", sans-serif;
$title-font: "Space Mono", "Courier New", monospace;

